
<!----------------------------------------- List Médecin ------------------------------------------------------->
      <div class="panel" >
        <div class="card-header m-b-15 row">
          <div class="col-md-7"><h3><b>Médecins</b></h3></div>
          <div class="col-md-3">
             <div class="row">
               <div class="col-md-2" style="margin-top: 10px">
                 <i class="ti-search"></i>
               </div>
               <div class="col-md-10">
                 <input class="form-control"  type="text" name="search" [(ngModel)]="searchText" placeholder="Rechercher Médecin">
               </div>
             </div>

          </div>
          <div class="col-md-2">
            <button class="btn btn-success" routerLink="/create">Ajouter</button>
          </div>
        </div>
        <div class="table-responsive">

          <table class="table table-bordered" *ngIf="medecins">
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Email</th>
              <th>Adresse</th>
              <th>Date naissance</th>
              <th>Téléphone</th>
              <th>Service</th>
            </tr>

            <tr *ngFor="let med of medecins |  filter:searchText  | paginate: { itemsPerPage: 10,currentPage:p}">
              <td>{{med.numeroIdentite}}</td>
              <td>{{med.nom}}</td>
              <td>{{med.prenom}}</td>
              <td>{{med.appUser.email}}</td>
              <td>{{med.adresse}}</td>
              <td>{{med.dateNaissance}}</td>
              <td>{{med.appUser.phone}}</td>
              <td *ngIf="med.service">{{med.service.nom}}</td>
              <td *ngIf="!med.service"></td>
              <td>
<!------------------------------------------------------ Update Médecin ----------------------------------------------------------->

                <a href="javascript:void(0)" (click)="update(med.id)" class="text-decoration-none" ><i class="ti-pencil-alt"></i></a>
                &nbsp;
<!-------------------------------------------------- Supprimer Médecin ------------------------------------------------------>

                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal" (click)="smsMedecin(med.id)" id="delete-id" class="text-decoration-none"><i style="color: red" class="ti-trash"></i></a> &nbsp;


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Veuillez-vous vraiment supprimer ce médecin
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Supprimer</button>
                      </div>
                    </div>
                  </div>
                </div>

<!--------------------------------------------- Détail Médecin -------------------------------------------------------------->

                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal2" (click)="smsMedecin(med.id)" class="text-decoration-none"><i style="color: green" class="ti-eye"></i></a>

                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal2Label">Détail Médecin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div *ngIf="medecin">
                          <div>
                            <label><b>Numéro d'identité: </b></label> {{medecin.numeroIdentite}}
                          </div>
                          <div>
                            <label><b>Nom: </b></label> {{medecin.nom}}
                          </div>
                          <div>
                            <label><b>Prénom: </b></label> {{medecin.prenom}}
                          </div>
                          <div>
                            <label><b>Email: </b></label> {{medecin.appUser.email}}
                          </div>
                          <div>
                            <label><b>Adresse: </b></label> {{medecin.adresse}}
                          </div>
                          <div>
                            <label><b>Date naissance: </b></label> {{medecin.dateNaissance}}
                          </div>
                          <div>
                            <label><b>Téléphone: </b></label> {{medecin.appUser.phone}}
                          </div>
                          <div>
                            <label><b>Service: </b></label> {{medecin.service.nom}}
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
<!---------------------------------------------------------------------------------------------------------------------->
              </td>
            </tr>

          </table>
        </div>
   <!-------------------------------------- Pagination list Médecins ------------------------------------------------------>
        <!--<ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'active':currentPage==i}" class="nav-link" (ngModel)="searchText" (click)="setPage(i,$event)" style="cursor: pointer">{{i}}</a>
          </li>
        </ul>-->
        <ul class="pagination">
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </ul>
        <!------------------------------------------------------------------------------------------------------------------------>
      </div>



