.dash-list h3 {
  padding: 12px;
}
.dash-widget-bg1 {
  width: 65px;
  float: left;
  color: #fff;
  display: block;
  font-size: 50px;
  text-align: center;
  line-height: 65px;
  background: #009efb;
  border-radius: 50%;
  font-size: 40px;
  height: 65px;}
.dash-widget-info > h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.dash-widget-info span i {
  width: 16px;
  background: #fff;
  border-radius: 50%;
  color: #666666;
  font-size: 9px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin-left: 5px;
}
.dash-widget-info > span.widget-title1 {
  background: #009efb;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

.dash-widget {
  background-color: #fff;
  border-radius: 4px;
 /* margin-bottom: 30px;*/
  padding: 10px;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
